I. Data Wrangling, I - Perform the following operations using Python on any open source dataset (e.g., data.csv)

1. Import all the required Python Libraries. 

2. Locate an open source data from the web (e.g. https://www.kaggle.com). Provide a clear description of  
the data and its source (i.e., URL of the web site).

3. Load the Dataset into pandas data frame. 

4. Data Preprocessing: check for missing values in the data using pandas insult(), describe() function to
get some initial statistics. Provide variable descriptions. Types of variables etc. Check the dimensions of
the data frame. 

5. Data Formatting and Data Normalization: Summarize the types of variables by checking the data types
(i.e., character, numeric, integer, factor, and logical) of the variables in the data set. If variables are not in
the correct data type, apply proper type conversions. 

6. Turn categorical variables into quantitative variables in Python. In addition to the codes and outputs, explain every operation that you do in the above steps and explain
everything that you do to import/read/scrape the data set.

In [2]:
import pandas as pd

In [4]:
df=pd.read_csv('od.csv')

In [5]:
df.describe()

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000
mean,24.312600,1.701677,86.586058,2.419043,2.685628,2.008011,1.010298,0.657866
std,6.345968,0.093305,26.191172,0.533927,0.778039,0.612953,0.850592,0.608927
min,14.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,19.947192,1.630000,65.473343,2.000000,2.658738,1.584812,0.124505,0.000000
50%,22.777890,1.700499,83.000000,2.385502,3.000000,2.000000,1.000000,0.625350
75%,26.000000,1.768464,107.430682,3.000000,3.000000,2.477420,1.666678,1.000000
max,61.000000,1.980000,173.000000,3.000000,4.000000,3.000000,3.000000,2.000000

In [6]:
df.dtypes

Age                               float64
Gender                             object
Height                            float64
Weight                            float64
CALC                               object
FAVC                               object
FCVC                              float64
NCP                               float64
SCC                                object
SMOKE                              object
CH2O                              float64
family_history_with_overweight     object
FAF                               float64
TUE                               float64
CAEC                               object
MTRANS                             object
NObeyesdad                         object
dtype: object

In [7]:
df.shape

(2111, 17)

In [8]:
df['Gender']=df['Gender'].astype('category')

In [9]:
df.dtypes

Age                                float64
Gender                            category
Height                             float64
Weight                             float64
CALC                                object
FAVC                                object
FCVC                               float64
NCP                                float64
SCC                                 object
SMOKE                               object
CH2O                               float64
family_history_with_overweight      object
FAF                                float64
TUE                                float64
CAEC                                object
MTRANS                              object
NObeyesdad                          object
dtype: object

In [10]:
df_encoded=pd.get_dummies(df, columns=['Gender'],drop_first=True)

In [11]:
df.head()

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
0,21.0,Female,1.62,64.0,no,no,2.0,3.0,no,no,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight
1,21.0,Female,1.52,56.0,Sometimes,no,3.0,3.0,yes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,23.0,Male,1.80,77.0,Frequently,no,2.0,3.0,no,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight
3,27.0,Male,1.80,87.0,Frequently,no,3.0,3.0,no,no,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I
4,22.0,Male,1.78,89.8,Sometimes,no,2.0,1.0,no,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [12]:
df.dtypes

Age                                float64
Gender                            category
Height                             float64
Weight                             float64
CALC                                object
FAVC                                object
FCVC                               float64
NCP                                float64
SCC                                 object
SMOKE                               object
CH2O                               float64
family_history_with_overweight      object
FAF                                float64
TUE                                float64
CAEC                                object
MTRANS                              object
NObeyesdad                          object
dtype: object

In [13]:
print(df_encoded.head())

    Age  Height  Weight        CALC FAVC  FCVC  NCP  SCC SMOKE  CH2O  \
0  21.0    1.62    64.0          no   no   2.0  3.0   no    no   2.0
1  21.0    1.52    56.0   Sometimes   no   3.0  3.0  yes   yes   3.0
2  23.0    1.80    77.0  Frequently   no   2.0  3.0   no    no   2.0
3  27.0    1.80    87.0  Frequently   no   3.0  3.0   no    no   2.0
4  22.0    1.78    89.8   Sometimes   no   2.0  1.0   no    no   2.0

  family_history_with_overweight  FAF  TUE       CAEC                 MTRANS  \
0                            yes  0.0  1.0  Sometimes  Public_Transportation
1                            yes  3.0  0.0  Sometimes  Public_Transportation
2                            yes  2.0  1.0  Sometimes  Public_Transportation
3                             no  2.0  0.0  Sometimes                Walking
4                             no  0.0  0.0  Sometimes  Public_Transportation

            NObeyesdad  Gender_Male
0        Normal_Weight        False
1        Normal_Weight        False
2        Normal_Weight         True
3   Overweight_Level_I         True
4  Overweight_Level_II         True